body {
    background: url(../images/mount-hamilton-2.JPG);
    background-repeat: no-repeat;
    background-size: 68%;
    background-position-x: 50%;
    text-align: center;
    font-family: 'Francois One', sans-serif;
}
h1 {
    color: hotpink;
    font-size: 5rem;
}
.intro {
    margin-top: -3rem;
}
.menu-image {
    width:35%;
}
.menu {
    display: inline-block;
    padding-top: 8rem;
}
.menu-li {
    display: inline;
    font-size: 2rem;
    background-image: url(../images/cloud.png);
    background-size: 92% 90%;
    background-repeat: no-repeat;
    padding-top: 7rem;
    padding-bottom: 7rem;
    padding-left: 8rem;
    padding-right: 8rem;
    color: white;
}
a {
    text-decoration:none;
}
a:visited {
    color:white;
    font-style: italic;
}
a:hover {
    color:hotpink;
}
li:hover {
    color: hotpink;
}